body{
  background-color: #06283D;
  text-align: center;
  margin-top: 5%;
}
h1{
  color: #F6F6C9;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;

}
button{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  margin: 10px 10px;
}
.container{
  margin-top: 5%;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
